<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OrdersManagment</display-name>
	<welcome-file-list>
		<welcome-file>Orders.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.souq.servlets.AppListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>LoadOrders</display-name>
		<servlet-name>LoadOrders</servlet-name>
		<servlet-class>com.souq.servlets.LoadOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadOrders</servlet-name>
		<url-pattern>/LoadOrders</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoadCustomers</display-name>
		<servlet-name>LoadCustomers</servlet-name>
		<servlet-class>com.souq.servlets.LoadCustomers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadCustomers</servlet-name>
		<url-pattern>/LoadCustomers</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LoadProducts</display-name>
		<servlet-name>LoadProducts</servlet-name>
		<servlet-class>com.souq.servlets.LoadProducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadProducts</servlet-name>
		<url-pattern>/LoadProducts</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LoadOrdersItem</display-name>
		<servlet-name>LoadOrdersItem</servlet-name>
		<servlet-class>com.souq.servlets.LoadOrdersItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadOrdersItem</servlet-name>
		<url-pattern>/LoadOrdersItem</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>db_driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>db_url1</param-name>
		<param-value>jdbc:mysql://localhost/souq</param-value>
	</context-param>
	<context-param>
		<param-name>db_user1</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>db_pass1</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>db_name1</param-name>
		<param-value>souq</param-value>
	</context-param>
	<context-param>
		<param-name>db_connName1</param-name>
		<param-value>souq</param-value>
	</context-param>
	<context-param>
		<param-name>db_useunicode</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>db_encoding</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>db_connPool</param-name>
		<param-value>1</param-value>
	</context-param>
</web-app>